.vertical-center {
  min-height: 90%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex; /* For Safari */
  -webkit-justify-content: center; /* For Safari */
  -webkit-align-items: center; /* For Safari */
}

.footer p {
	color: #666;
}